target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
*.class
*.jar
*.war
*.log
*.db
*.sqlite
.DS_Store
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.sts4-cache/
bin/
out/
.vscode/
*.vscode/
.env
uploads/
